body {
  background: #f9e933;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

h1 {
  float: left;
  width: 570px;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: white;
  overflow: auto;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}

/*my styles for faq page*/

.q {
  font-size: 2em;
  font-weight: bold;
  padding: 2%;
  line-height: 1.8;
  display: block;
  margin-top: 1em;
}

.ans {
  line-height: 1.7;
  font-style: italic;
}

.box {
  border-width:thin;
  border-style: solid;
  text-align: center;
  background-color: teal;
  display: block;
  height: 3em;
  margin-top: 1em;
  margin-bottom:0.5em;
}

.top {
  font-family: cursive;
  font-size: 280%;
  font-weight:bold;
}

.botm {
  font-weight:bolder;
  font-family: fantasy;
  font-size: 150%;
  border-width:thin;
  display: block;
  margin-top: 0.5em;
}

/*Additional styless for the signup page*/
.form {
  background-color: wheat;
  border-width:thin;
  border-style: solid;
  line-height: 3.0;
  width: 100%;
  text-align: center;
  font-size: 150%;
  background-attachment: fixed;

}

.backcolor {
  background-size: cover;
  background-color: wheat;
}

.button {
    background-color:lightgray;
    border-width: thin;
    color: black;
    text-align: center;
    font-size: 0.5em;
    width: 10em;
    height: 3em;
    margin-right: 3em;
    margin-top: 2em;
    font-weight: bold;
    border-radius: 1em;

}
.button:hover{
  background-color: limegreen;
}

input {
  font-size: 80%
}

.user {

   margin: 1em;
   height: 1.5em;
   width: 20em;
   font-family: serif;
}

.email {
     margin: 1em;
     height: 1.5em;
     width: 20em;
     font-family: serif;
}

.pwd{
     margin: 1em;
     height: 1.5em;
     width: 20em;
     font-family: serif;
  }

.spec{
  margin-left: 6.9em;
}
